@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-self: center;
}

body {
    background: url("./Components//bg.jpg") no-repeat center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

.message {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}

.st {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    background-color: rgb(44, 38, 38);
    color: rgb(168, 165, 165);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="textarea"],
textarea,
select {
    display: block;
    padding: 6px 12px;
    width: 250px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgb(146, 57, 57);
    border-radius: 4px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(219, 215, 215);
}

label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-flex;
    margin-right: 20px;
    color: rgb(241, 244, 248);
}

.btn {
    color: white;
    text-align: center;
    border-radius: 100px;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5rem;
}

.form-control {
    position: relative;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(185, 183, 183, 0.5);
}

.form-control img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.form-control::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
}

p {
    color: rgb(245, 241, 241);
    font-size: 1rem;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: beige;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    width: 30%;
    margin: 2rem auto;
    place-items: center;
    transition: var(--transition);
    margin-top: 2rem;
    border-radius: var(--radius);
}

aside {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    clear: both;
    background: rgb(253, 158, 6);
}

.footer a:hover {
    color: rgb(255, 255, 255);
}

.f {
    text-align: center;
    margin: 0 auto;
}

li {
    list-style: none;
}

.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: goldenrod;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}