@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

body {
    background-color: rgb(245, 245, 250);
    font-family: "Roboto", sans-serif;
}

.message {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="textarea"],
textarea,
select {
    display: block;
    padding: 6px 12px;
    width: 250px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgb(146, 57, 57);
    border-radius: 4px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(219, 215, 215);
}

label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-flex;
    margin-right: 20px;
    color: rgb(78, 80, 82);
}

.btn {
    color: white;
    text-align: center;
    border-radius: 100px;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5rem;
}

.form-control {
    display: grid;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 30px;
    background: rgb(235, 232, 232);
    margin-top: 3rem;
}

p {
    color: rgb(109, 103, 103);
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    width: 30%;
    margin: 2rem auto;
    place-items: center;
    transition: var(--transition);
    margin-top: 2rem;
    border-radius: var(--radius);
}

aside {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    clear: both;
    background: rgb(253, 158, 6);
}

.footer a:hover {
    color: rgb(255, 255, 255);
}

.f {
    text-align: center;
    margin: 0 auto;
}

li {
    list-style: none;
}